DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_mysql_password_here
DB_NAME=instantsearch
JWT_SECRET=your_secret_key
TYPESENSE_HOST=127.0.0.1
TYPESENSE_PORT =8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=xyz
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production